# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/backend/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/client/.next/
/client/.idea
/backend/.tmp
/backend/.idea
/backend/.cache
/out/

.next
.idea

# production
/build
/backend/cache

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
